*{
    background-color: #F0F2F5;
    font-family: Helvetica, Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 250px;
}
.facebook-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.facebook-word-img{
    max-width: 200px;
}
.facebook-title-content{
    margin-left: 25px;
}
.facebook-title-content > h2 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}
.facebook-title-content > p{
    color:#606770;
}
.add-card{
    max-width: 150px;
   /* background-color: #F0F2F5;*/
    background-color: white;
    border-radius: 10px;
    border: 1px solid #E6E9ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    cursor: pointer;
}
.plus-btn{
    width: 100%;
    background-color: #F0F2F5;
    font-size: 48px;
    color: #4267B2;    ;
    /*cursor: pointer;*/
   padding: 60px 0px;
    margin: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.fa-solid{
    max-width: 33.33%;
    padding-left: 33.33%;
    
}
.add-word-div{
    width: 100%;
    padding: 0;
    
    
}

.add-word{
    
    padding: 10px 0px;
    text-align: center;
    background-color: white;
    font-weight: lighter;
    font-size:18px  ;
    margin: 0;
  /*  border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
}